<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
</head>

<body>
    <main>
        <center><img
                src="https://camo.githubusercontent.com/006298ebab6a874b448a03a57cfa97013e470c4b5ad0a0b35d94f0120b326006/68747470733a2f2f692e696d6775722e636f6d2f78473734744f682e706e67"
                alt="logo da Cubos Academy" width="800">
    </main>
    <h1>Olá, {{nomeUsuario}}. Tudo bem? 🎉</h1>
    </center>
    <hr>
    <p>Nós da Cubos Academy e o iFood, estamos muito felizes em anunciar que <strong>você foi uma das pessoas
            aprovadas</strong> para o Programa de <strong>Bolsas Potência Tech powered by iFood</strong> para o curso de
        <u>Desenvolvimento de Software com foco em Back-end.</u>
    </p>
    <p>Para a comemoração ser completa, seguiremos para a próxima etapa: <strong>envio e análise de
            documentação</strong> 📋</p>
    <p>É preciso <strong>muita atenção</strong> nesta etapa, pois a garantia da vaga só acontecerá quando o candidato(a)
        entregar todas as documentações listadas no Edital, que serão devidamente analisadas pela equipe da Cubos
        Academy.</p>
    <h3 style="color: rgb(250, 23, 69);">Vamos para as instruções? 🔍</h3>
    <p>...</p>
</body>

</html>